
* {
    font-family: "Montserrat", sans-serif;
    background-color: #202020;
    color: grey;
    /*border: 1px solid #333333;*/
  }
  header h1 {
    display: inline;
    border: none;
    font-size: 36px;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
  }
  
  #editor {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    border: none;
  }

  #canvas {
    border: 2px solid black;
  }

  #filters {
    min-width: 100px;
    width: 100px;
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 5px;
    border: 2px solid black;
  }

  .indFilter {
    width: 200px;
    border: 1px solid #333333;
  }

  .indFilter:hover {
    cursor: pointer;
    background-color: darkslategray;
    color: silver;
  }

  .selectedFilter {
    background-color: #1d2544;
  }
  
  #controls {
    display: flex;
    justify-content: space-between;
    width: 725px;
  }

  #input {
    margin-top: 3px;
    border-radius: 3px;
    border: 2px solid;
    height: 20px;
    width: 115px;
    text-align: top;
  }
    
  #middle-col {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
  }

  .header {
    display: inline;
  }
  
  
  